body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 50px;
}

canvas {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

select {
    margin-bottom: 20px;
}
